.country {
    border: 2px solid blueviolet;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.visit-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.country-image {
    height: 170px;
    width: 270px;
    border-radius: 15px;
    
}
